body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-heading {
    font-size: 50px;
    font-family: fantasy;
}

h1 {
    text-align: center;
    color: #ff0000;
}

.form-wrapper {
    margin-bottom: 20px;
    width: 600px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-wrapper div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.name,
.feedback {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.feedback {
    height: 100px;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #218838;
}

.review-wrapper {
    margin-top: 20px;
    width: 600px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.review-wrapper h2 {
    text-align: center;
    color: #333;
}

.refresh-button {
    display: block;
    margin: 0 auto 20px auto;
    padding: 5px 20px;
    background-color: #007bff;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.refresh-button:hover {
    background-color: #0056b3;
}

.ul {
    list-style-type: none;
    padding: 0;
}

.li {
    background-color: #f1f1f1;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
}

.li strong {
    display: block;
    color: #333;
    margin-bottom: 5px;
}